@{
    ViewBag.Title = "Home Page";
}
    <head>
        @Styles.Render("~/Content/css")
    </head>

    <body>
        <style>
            body {
                background: #EEE8AA;
                color: #000000;
            }
        </style>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form method="post" action="~/Home/Index">
                    <h1 style="text-align:center">LOGIN</h1>
                    <p>Mail:</p>
                    <input type="text" name="Mail" />
                    <br />
                    <br />
                    <p>Password:</p>
                    <input type="password" name="Password" />
                    <br />
                    <br />
                    <input type="submit" value="Login" />
                    <br />
                    <br />
                </form>
                <form method="get" action="~/Home/Reg">
                    <input type="submit" value="Registration" />
                </form>
            </div>
        </div> 
        @Scripts.Render("~/bundles/bootstrap")
    </body>